.card {
    height: 100%; /* Заставляет карточки занимать одинаковую высоту */
}

.card-img-top {
    height: 200px; /* Устанавливаем фиксированную высоту для изображений */
    object-fit: cover; /* Обеспечивает обрезку изображения, чтобы оно не искажалось */
}